<!doctype html>
<html>
<head>
    <title>Johnson's Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="index.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="interactions.js"></script>
</head>
<body ng-app="boxes">
<div class="container1">
    <div class="container2" ng-repeat="box in boxlist">
        <!-- boxes added dynamically -->
        <div class='box-header'>"
            <span class='box-title'>"
                [{{box.id}}]
            </span>
            <span class='box-closer' ng-click="deleteBox(box.id)">x</span>
         </div>
         <div class='box-content'>
             <div class='box-neighbor-left'>
                 {{leftId($index)}}
             </div>
             <div class='box-neighbor-right'>
                 {{rightId($index)}}
            </div>
        </div>
    </div>
</div>
</body>
</html>

